# Force LF for text files on the repo (target platform: Unix/WSL)
* text=auto eol=lf

# Ensure scripts are always LF
*.sh text eol=lf
*/configure text eol=lf
configure text eol=lf
*/Makefile text eol=le
Makefile text eol=lf
build.sh text eol=lf

# Docs and markdown
*.md text eol=lf

# C/C++ sources and headers
*.c text eol=lf
*.h text eol=lf
